Organization Name: {{ title }}<br><br>

Department Name: <input [(ngModel)]="depName"/><br>
<button type="button" (click)="addDepartment()">Add Department</button><br><br>

Add Employee Details<br>
<form (ngSubmit)="addEmployeeDetail()" novalidate>
  Name: <input name="empName" [(ngModel)] = "empName" required/><br>
  <span *ngIf="showErrorEmpName">Employee name is required.</span><br>
  Choose type of employee: <select name="empType" [(ngModel)] = "empType" required>
    <option *ngFor="let empType of employeeTypes" [value]="empType.value">{{ empType.value }}</option>
  </select><br>
  <span *ngIf="showErrorEmpType">Choose employee type.</span><br>
  Choose Department: <select name="empDepartment" [(ngModel)] = "empDepartment" required>
    <option *ngFor="let empDepartment of departments" [value]="empDepartment">{{ empDepartment }}</option>
  </select><br>
  <span *ngIf="showErrorEmpDepart">Choose department.</span><br>
  Reporting Manager: <select name="empReportingManager" [(ngModel)] = "empReportingManager" required>
    <option *ngIf="!this.employees.length" [value]="reportingManager">Manager</option>
    <div *ngIf="this.employees.length">
      <option *ngFor="let reportingManager of reportingManagers" [value]="reportingManager">{{ reportingManager }}</option>
    </div>
  </select><br>
  <span *ngIf="showErrorEmpManager">Choose reporting manager.</span><br><br>
  <button type="submit">Save Employee</button>
</form><br>

<button type="button" (click)="printEmployeeList('manager')">Print All Employees of a Manager</button><br><br>
<button type="button" (click)="printEmployeeList('department')">Print All Employees of a Department</button><br><br>
<button type="button" (click)="printDepartmentList()">Print All Departments</button><br><br>
<button type="button" (click)="printOrgChart()">Print Organization Chart</button><br><br>

<div *ngIf="showDepartmentList">
  Departments:
  <div *ngFor="let dept of departments">
    {{ dept }}
  </div>
</div>

<div *ngIf="showDepartmentList">
  Employees by department:
  <div *ngFor="let emp of employeesByDepartment">
    {{ emp }}
  </div>
</div>

<div *ngIf="showDepartmentList">
  Employees by Manager:
  <div *ngFor="let emp of employeesByManager">
    {{ emp }}
  </div>
</div>


